<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <script async src="http://www.google-analytics.com/analytics.js"></script>

  <script>
    (function(w,g){w['GoogleAnalyticsObject']=g;
    w[g]=w[g]||function(){(w[g].q=w[g].q||[]).push(arguments)};w[g].l=1*new Date();})(window,'ga');

    ga('create', 'UA-47271599-1', 'auto');
    ga('send', 'pageview');
  </script>

  </body>

</html>
